# Enable the rewrite engine
RewriteEngine On

# If the request is for an actual file or directory, let it be
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# If not a real file or directory, redirect to index.html
RewriteRule ^ index.html [QSA,L]
